<%- include layouts/header.ejs %>

<div class="page-data">
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">No</th>
                <th>Purchase ID</th>
                <th>Customer Id</th>
                <th>Product ID</th>
                <th>Date</th>
                <th width="120px">Action</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].purchase_id%></td>
                <td><%=data[i].id%></td>
                <td><%=data[i].product_id%></td>
                <td><%=data[i].purchase_date%></td>
                <!--<td>
                    <a class="a-inside edit" href="../purchases/edit/<%=data[i].purchase_id%>">Edit</a>

                    <a class="a-inside delete" href="../purchases/delete/<%=data[i].purchase_id%>">Delete</a>

                </td>-->
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">No user</td>
            </tr>
            <% } %>



        </table>
    </div>
</div>

<!--<%- include layouts/footer.ejs %>-->
