<%- include layouts/header.ejs %>

<div class="page-data">
    <div class="data-btn">
        <button>select p.product_id, p.product_name, avg(p.product_rate) as avg_rate,q.purchase_id from products p join purchases q on p.product_id =q.purchase_id group by q.purchase_date Having q.purchase_date = '2001/11/25';</button>
    </div>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">No</th>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Average Rate</th>
                <th>Purchase ID</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].product_id%></td>
                <td><%=data[i].product_name%></td>
                <td><%=data[i].avg%></td>
                <td><%=data[i].purchase_id%></td>
                <!--<td>
                    <a class="a-inside edit" href="../purchases/edit/<%=data[i].purchase_id%>">Edit</a>

                    <a class="a-inside delete" href="../purchases/delete/<%=data[i].purchase_id%>">Delete</a>

                </td>-->
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">No user</td>
            </tr>
            <% } %>



        </table>
    </div>
</div>

<!--<%- include layouts/footer.ejs %>-->
