<%- include layouts/header.ejs %>

<div class="page-data">
    <div class="data-btn">
        <button onClick="addRatelist()">+ Add</button>
    </div>
    <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr>
                <th width="50px">No</th>
                <th>List Id</th>
                <th>Product ID</th>
                <th>Vendor Id</th>
                <th width="120px">Action</th>
            </tr>

            <% if(data.length){

            for(var i = 0;i < data.length;i++) { %>

            <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].list_id%></td>
                <td><%=data[i].product_id%></td>
                <td><%=data[i].vendor_id%></td>
                <td>
                    <a class="a-inside edit" href="../ratelist/edit/<%=data[i].list_id%>">Edit</a>

                    <a class="a-inside delete" href="../ratelist/delete/<%=data[i].list_id%>">Delete</a>

                </td>
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">No ratelist</td>
            </tr>
            <% } %>



        </table>
    </div>
</div>

<!--<%- include layouts/footer.ejs %>-->
